<!DOCTYPE html>
<html lamg="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parcial 1</title>
        <script>
            function updateClock() {
                const now = new Date();
                const hours = now.getHours().toString().padStart(2, '0');
                const minutes = now.getMinutes().toString().padStart(2, '0');
                const seconds = now.getSeconds().toString().padStart(2, '0');
                const timeString = `${hours}:${minutes}:${seconds}`;
                document.getElementById('clock').textContent = timeString;
            }
    
            // Actualiza la hora cada segundo
            setInterval(updateClock, 1000);
    
            // Llama a la función para mostrar la hora actual
            window.onload = updateClock;
        </script>
    </head>
       
    <body>
        <h1>Parcial 1</h1>
        <h3> Armando Lizarraga Valencia - 00397437</h3>
        <p><span id="clock"></span></p>
        </body>
</html>